body{background-image: url(picture.jpg);
	background-size: cover;
	background-position: center
    font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif; background: #2c350;
	}

h1 {text-align: center}
h3 {text-align: center}

.classdiv {
    display: flex;
	align-items: center;
    justify-content: center;}